@import "tailwindcss";

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.menu-card:active{
  border: 3px solid black;
}

.history-card-in-js{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid #0808081a; 
  border-radius: 12px; 
  background-color: white;
  margin-bottom: 16px;
}


/* For Menu Button Focusing */
.menu-button{
  background-color: #0874f20d;
  border: 2px solid #0874f2;
  color: #0874f2;
  font-weight: bolder;
}